/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

/* --------------- */
.maintitle {
	color: red;
}
h2 {
	color: chocolate;
}
.header ol {
	color: blue;
}

p {
	color: green;
}

p a {
	color: orange;
}

p span {
	color: darkslateblue;
}
.list  li {
	color: darkseagreen;
}
.list ol  li {
	color: chartreuse;
}
.list ol li span {
	color: darkmagenta;
}
